Build
/MANIFEST.SKIP.bak
/MANIFEST.bak
META.YML
MYMETA*
Makefile
Makefile.old
SSL
blib
blib/
.build/
_build/
cover_db/
/_eumm/
/libwww-perl-*
libwww-perl-*/
libwww-perl-*.tar.gz
pm_to_blib
*.sw*
t/CAN_TALK_TO_OURSELF
*.tar.gz
t/live/ENABLED
t/live/jigsaw/ENABLED
xx*
