# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Chase Whitener <capoeirab@cpan.org> <cwhitener@gmail.com>
Chase Whitener <capoeirab@cpan.org> <chase.whitener@infotechfl.com>
Christopher J. Madsen <cjm@cpan.org> <perl@cjmweb.net>
Gisle Aas <gisle@aas.no> <aas@oslonett.no>
Gisle Aas <gisle@aas.no> <gisle.aas@it.uib.no>
Gisle Aas <gisle@aas.no> <gisle@activestate.com>
Gisle Aas <gisle@aas.no> <gisle@baux-2.lan>
Jason A Fesler <jfesler@gigo.com> Jason Fesler
Jason A Fesler <jfesler@gigo.com> <jfesler@badamount-lm.corp.yahoo.com>
Jason A Fesler <jfesler@gigo.com> <jfesler@yahoo-inc.com>
Mark Stosberg <mark@stosberg.com> <MARKSTOS@cpan.org>
Mark Stosberg <mark@stosberg.com> <mark@summersault.com>
Mike Schilli <github@perlmeister.com> mschilli
Mike Schilli <github@perlmeister.com> Mike Schilli <mschilli@yahoo-inc.com>
Slaven Rezic <slaven@rezic.de> <srezic@iconmobile.com>
Ville Skyttä <ville.skytta@iki.fi> Ville Skytta
